@charset "UTF-8";
        :root {
            --glow-rgb: 239 42 201;
        }

        body {
            background: none;
            height: 100vh;
            overflow: hidden;
           position: relative;
            font-family: 'Poppins', sans-serif;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .glow-point {
            position: absolute;
            box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
            pointer-events: none;
            animation: glitter 0.8s infinite;
        }

        .star {
            position: absolute;
            z-index: 2;
            color: white;
            font-size: 1rem;
            animation-duration: 1500ms;
            animation-fill-mode: forwards;
            pointer-events: none;
            animation: glitter 0.8s infinite;
        }

        @keyframes fall-1 {
            0% {
                transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
                opacity: 0;
            }

            5% {
                transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
                opacity: 1;
            }

            100% {
                transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
                opacity: 0;
            }
        }

        @keyframes fall-2 {
            0% {
                transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
                opacity: 0;
            }

            10% {
                transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
                opacity: 1;
            }

            100% {
                transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
                opacity: 0;
            }
        }

        @keyframes fall-3 {
            0% {
                transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
                opacity: 0;
            }

            15% {
                transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
                opacity: 1;
            }

            100% {
                transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
                opacity: 0;
            }
        }

        @keyframes glitter {
            0%, 100% {
                opacity: 1;
                transform: scale(1);
            }
            50% {
                opacity: 0.7;
                transform: scale(1.2);
            }
        }

        

        h1 {
            font-size: 3em;
            color: rgb(0, 0, 0);
            text-transform: uppercase;
        }

        .line-1 {
            position: relative;
            width: 18.5em;
            margin: 20px auto; /* Adjust the margin as needed */
            border-right: 2px solid rgba(255, 255, 255, .75);
            font-size: 100%;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
            z-index: 3;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
        }

        /* Animation */
        .anim-typewriter {
            animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
        }
        
        @keyframes typewriter {
            from {
                width: 0;
            }

            to {
                width: 18.5em;
            }
        }

        @keyframes blinkTextCursor {
            from {
                border-right-color: rgba(255, 255, 255, .75);
            }

            to {
                border-right-color: transparent;
            }
        }